$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$border-color: #000;
$background: #008080;

body {
  background-image: url('../../images/wood-texture0020.jpg');
}

@media screen and (max-width: 900px) {

  .container-fluid {
    margin: 5px;
    padding: 0;
  }

  .title h1 {
    font-size: 30px;
  }

  .game-buttons {
    margin: 2px;
  }
}

.btn-custom {
  background-color: transparent;
  border: 0;
  margin: 20px;
  width: 70px;
}

.glyphicon {
  font-size: 70px;
}

.title {
  width: 50%;
}

.message-block {
  float: right;
  font-family: Big Caslon, sans-serif;
  height: 100%;
  max-height: 100px;
  max-width: 200px;
  text-align: right;
  width: 40%;
}

h2 {
  font-family: DejaVu;
  font-size: 19.95vw;
  line-height: 18vw;
  margin: 0;
}

h3 {
  font-family: DejaVu;
  font-size: 19.95vw;
  line-height: 18vw;
  margin: 0;
}

.game-buttons {
  display: inline-block;
}

.player-id {
  float: right;
  font-size: 20px;
  height: 100%;
  max-height: 20px;
}

.completed-games-count {
  float: right;
  font-size: 15px;
  height: 100%;
  max-height: 20px;
}

.message-board {
  font-size: 50px;
  height: 50px;
  text-align: center;
  margin: 20px;
}

.container {
  height: 60vw;
  width: 60vw;
  vertical-align: middle;
  text-align: center;
}

.grid {
  width: 33.3333333%;
  height: 19.95vw;
  line-height: 18vw;
  margin: 0;
  float: left;
}

.grid-one {
  border-bottom: 1vw solid $border-color;
  border-right: 1vw solid $border-color;
  padding-top: 1vw;
}

.grid-two {
  border-bottom: 1vw solid $border-color;
  border-left: 1vw solid $border-color;
  border-right: 1vw solid $border-color;
  padding-top: 1vw;
}

.grid-three {
  border-bottom: 1vw solid $border-color;
  border-left: 1vw solid $border-color;
  padding-top: 1vw;
}

.grid-four {
  border-bottom: 1vw solid $border-color;
  border-right: 1vw solid $border-color;
  border-top: 1vw solid $border-color;
}

.grid-five {
  border: 1vw solid $border-color;
}

.grid-six {
  border-bottom: 1vw solid $border-color;
  border-left: 1vw solid $border-color;
  border-top: 1vw solid $border-color;
}

.grid-seven {
  border-right: 1vw solid $border-color;
  border-top: 1vw solid $border-color;
  padding-top: 1vw;
}

.grid-eight {
  border-left: 1vw solid $border-color;
  border-right: 1vw solid $border-color;
  border-top: 1vw solid $border-color;
  padding-top: 1vw;
}

.grid-nine {
  border-left: 1vw solid $border-color;
  border-top: 1vw solid $border-color;
  padding-top: 1vw;
}

.game-console {
  margin: 5px;
}
